$align: center;
$bg-color: #03f828;
$color-01: rgb(12, 12, 11);
$color-02: #999;
$color-03: rgb(11, 11, 11);
$color-04: #faf7f7;
$color-default: #fa0a0a;
$font-big: 6rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 6rem;
$space-default: 1.5rem;